@import url("reset.css");
@import url("un-reset.css");

@charset "utf-8";
/* CSS Document */
#wrapper{}
#clear {clear:both; }
body{color:#000; font:normal 16px/20px Verdana, sans-serif; text-align:justify;}

/*====== HEADER ======*/
header{width:1080px; margin:0px auto 10px;  padding:50px 0px 0px; position:relative;}
.topicon{overflow:hidden; position:absolute; top:0px; right:0px;}
.topicon li{float:left; margin-right:5px;}
.logo{width:304px; height:70px; background:url(../images/logo.png) no-repeat center top; float:left;}
.logo a {width:100%; height:100%; text-indent:-9999px; display:block; color:inherit;}

/*====== NAVIGATION ======*/
nav{float:right; /*overflow:hidden;*/ }
nav ul {/*margin-top:10px;*/}
nav ul li {padding:20px 20px 20px 10px;  margin-right:20px; float:left; white-space:nowrap; position: relative;}
nav ul li.l1{border-top:3px #c8e4f0 solid;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
nav ul li.l2{border-top:3px #e3efcb solid;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
nav ul li.l3{border-top:3px #eedfc8 solid;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
nav ul li.l4{border-top:3px #eeecc6 solid;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
nav ul li.l5{border-top:3px #efcbd5 solid;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
nav ul li.l6{border-top:3px #dfcbf0 solid;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
nav ul li:hover{border-top:5px #58bfea solid;}
nav ul li a{width:100%; height:100%; display:block; color:inherit;}
nav ul li:hover > ul {display: block; /* 滑鼠滑入母選單後，顯示子選單 */}
/* 二級選單顯示於一級選單的正下方 */
nav ul ul {background:#fff; position:absolute; top:100%; left:0px; display:none; z-index:9999;}
nav ul li li{padding:10px 0px 10px 10px;}
nav ul li li:hover{border:none; color:#666057;}

/*====== BANNER ======*/
.banner001, .banner002, .banner003, .banner004, .banner005{border-top:5px #58bfea solid;}
.banner001{height:500px;background:url(../images/banner001.jpg) center;}
.banner002{height:500px;background:url(../images/banner002.jpg) center;}
.banner003{height:500px;background:url(../images/banner003.jpg) center;}
.banner004{height:500px;background:url(../images/banner004.jpg) center;}
.banner005{height:500px;background:url(../images/banner005.jpg) center;}


/*====== CONTAINER_INDEX ======*/
#container{width:1080px; margin:40px auto ; overflow:hidden;}
.content_index{width:780px; float:left;}
.content{width:780px; float:left; padding-top:30px;}
.media_detail{}
.media_detail .title{ overflow:hidden;}
.media_detail .title li{float:left;}
.media_detail .title li img{width:190px; margin:15px 17.5px;}
.media_detail .title .m1, .media_detail .title .m5{width:105px; height:105px;}
.media_detail .title .m2, .media_detail .title .m3, .media_detail .title .m4, .media_detail .title .m6, .media_detail .title .m7, .media_detail .title .m8{width:225px; height:105px;}
.media_detail .title .m1{background:#f57a6f; text-align:center; color:#fff; padding:15px 0px;}
.media_detail .title .m1 span{font-size:50px; line-height:50px;}
.media_detail .title .m2{background:#edeac7;}
.media_detail .title .m3{background:#ecc4cf;}
.media_detail .title .m4{background:#fac372;}
.media_detail .title .m5{background:#bfdf8a; text-align:center; padding:40px 0px;}
.media_detail .title .m6{background:#dbc7f1;}
.media_detail .title .m7{background:#8ee7fa;}
.media_detail .title .m8{background:#c7ede0;}

.media_detail .text{background:url(../images/bg001.png); padding:30px 20px;}
.media_detail .text span{background:url(../images/line001.png) repeat-x left bottom; font:bold 20px/20px Verdana, sans-serif; padding:10px 0px; display:block; margin:0px 0px 10px 0px;}
.media_detail .text span a{color:inherit;}
.media_detail .text span a:hover{color:#666057;}

/*====== CONTAINER_PAGE ======*/
/* book */
.book{background:#e2efca; overflow:hidden; padding:20px;}
.book .book_top{overflow:hidden;}
.book .book_left{float:left;}
.book .book_right{width:60%; font:bold 18px/18px Times New Roman, sans-serif; float:right;}
.book .book_right span{background:url(../images/line001.png) repeat-x left bottom; font:bold 24px/24px Times New Roman, sans-serif; padding:10px 0px; display:block; margin:0px 0px 10px 0px;}
.menu{width:100%; clear:both; margin:20px auto 0px auto;}
.menu li{display:inline;}
.menu li a {width:25%; padding:10px; color:inherit; float:left; text-align:center;}
.menu li.active a {}
.booktext {width:100%; padding:20px; float:left; clear:both;}
.b1{background:#efcbd4;}
.b2{background:#c8e4f0;}
.b3{background:#ccccff;}
.b4{background:#fad47e;}
.b1 a{background:#efcbd4;}
.b2 a{background:#c8e4f0;}
.b3 a{background:#ccccff;}
.b4 a{background:#fad47e;}
/* author */
.author{font:normal 24px/24px Times New Roman, sans-serif; text-align:center; padding:25px 0px 0px 0px; margin-bottom:20px; float:left;}
.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9{width:33%; height:310px;}
.a1{background:url(../images/frame001.png) no-repeat center;}
.a2{background:url(../images/frame002.png) no-repeat center;}
.a3{background:url(../images/frame003.png) no-repeat center;}
.a4{background:url(../images/frame004.png) no-repeat center;}
.a5{background:url(../images/frame005.png) no-repeat center;}
.a6{background:url(../images/frame006.png) no-repeat center;}
.a7{background:url(../images/frame007.png) no-repeat center;}
.a8{background:url(../images/frame008.png) no-repeat center;}
.a9{background:url(../images/frame009.png) no-repeat center;}
.author img{width:150px; height:240px;}
.author a{color:inherit;}
.author a:hover{color:#666057;}
/* author_detail */
.author_detail{background:#fbf9d1; padding:20px; overflow:hidden;}
.author_left{width:270px; height:365px; background:url(../images/frame0010.png) no-repeat center; text-align:center; padding-top:33px; float:left;}
.author_left img{width:190px; height:300px; }
.author_right{width:440px; padding-top:40px; float:right;}
.author_right span{background:url(../images/line001.png) repeat-x left bottom; font:bold 24px/24px Times New Roman, sans-serif; padding:10px 0px; display:block; margin:0px 0px 10px 0px;}
/* media */
.media{margin-bottom:20px; overflow:hidden;}
.media li{float:left;}
.media .m3, .media .m4, .media .m5, .media .m6, .media .m7, .media .m8, .media .m9, .media .m10, .media .m11, .media .m12{width:105px; height:105px; text-align:center;}
.media .m3, .media .m5, .media .m7, .media .m9, .media .m11{color:#FFF;}
.media .m1, .media .m2{width:675px; height:105px;}
.media .m1{background:#d8d6d6; padding:10px;}
.media .m1 img{height:40px; margin:0px 5px;}
.media .m2{background:#eeeeee; padding:10px;}
.media .m2 span{background:url(../images/line001.png) repeat-x left bottom; font:bold 16px/16px Verdana, sans-serif; padding:5px 0px 10px 0px; display:block; margin:0px 0px 10px 0px;}
.media .m2 span a{color:inherit;}
.media .m2 span a:hover{color:#666057;}
.media .m3 span, .media .m5 span, .media .m7 span, .media .m9 span, .media .m11 span{font-size:50px; line-height:50px; color:#fff;}
.media .m3{background:#f57a6f; padding:15px 0px;}
.media .m5{background:#ffc368;  padding:15px 0px;}
.media .m7{background:#8fe7fb; padding:15px 0px;}
.media .m9{background:#8fc6fe; padding:15px 0px;}
.media .m11{background:#bc9efe; padding:15px 0px;}
.media .m4{background:#bfdf8a; padding:40px 0px;}
.media .m6{background:#edeac7; padding:40px 0px;}
.media .m8{background:#edc7d2; padding:40px 0px;}
.media .m10{background:#c7ede0; padding:40px 0px;}
.media .m12{background:#edeac7; padding:40px 0px;}
/* contact */
.textarea .title{padding:10px 0px 10px 60px;}
.t0{background:#c0e845 url(../images/icon001.png) no-repeat 13px 10px; font:bold 24px/24px Times New Roman, sans-serif;}
.t1{background:#c0e845 url(../images/icon001.png) no-repeat 13px 10px;}
.t2{background:#fad27d url(../images/icon003.png) no-repeat 13px 10px;}
.t3{background:#b3e9fa url(../images/icon003.png) no-repeat 13px 10px;}
.textarea .text{background:#fbf9d1; padding:20px 50px; margin-bottom:20px; position:relative;}
.textarea table{font:normal 16px/20px Verdana, sans-serif;}
.textarea .text img.tri{position:absolute; left:0px; top:0px; margin:0px;}
.textarea .text img{ display:block; margin:10px 0px;}
.reset{background:#ccc; padding:5px 40px; border:0px; cursor:pointer;}
.reset:hover{background:#999;}
.submit{background:#eedfc8; padding:5px 40px; border:0px; cursor:pointer;}
.submit:hover{background:#e5ae5a;}

/*== pagenum ==*/
.pagenum{width:100%; color:#ccc; margin-top:20px; float:right; clear:both;}
.pagenum table{width:50%}
.pagenum a{color:#666;}
.pagenum a:hover{color:#57bfea}
.pagenum a.on{color:#57bfea; font-weight:bold}
.pagenum .btnnum a{margin:0px 5px}
.pagenum .btnleft a{padding-left:0; width:20px; height:20px; background:url(../images/listbtn.png) -40px 0px; display:block; text-indent:-9999px }
.pagenum .btnleft a:hover{width:20px; height:20px; background:url(../images/listbtn.png) -40px -20px                                                                }
.pagenum .btnright a{padding-left:0;width:20px; height:20px;background:url(../images/listbtn.png) -60px 0px; display:block; text-indent:-9999px  }
.pagenum .btnright a:hover{ width:20px; height:20px;background:url(../images/listbtn.png) -60px -20px                                                                }
.pagenum .btnleftpage a{padding-left:0; width:20px; height:20px;background:url(../images/listbtn.png) -0px -0px; display:block; text-indent:-9999px  }
.pagenum .btnleftpage a:hover{ width:20px; height:20px;background:url(../images/listbtn.png) -0px -20px                                                                }
.pagenum .btnrightpage a{padding-left:0;width:20px; height:20px;background:url(../images/listbtn.png) -20px -0px; display:block; text-indent:-9999px  }
.pagenum .btnrightpage a:hover{ width:20px; height:20px;background:url(../images/listbtn.png) -20px -20px;}
.pagenum .center a{background:none; padding-left:0;}

/*====== FIX ======*/
.bread{height:30px;  text-align:right; color:#666057; font:normal 14px/14px Verdana, sans-serif;}
.fix{width:290px; float:right;}
.fix_order{width:100%; height:210px; background:url(../images/order.png) no-repeat right; position:relative;}
.fix_order .title{font:normal 14px/14px Verdana, sans-serif; position:absolute; left:18px; bottom:32px; color:#473f31;}
.fix_order .title a, .fix_author a, .fix_book a{color:inherit;}
.fix_author a:hover, .fix_book a:hover{color:#666057;}
.fix_order img{width:130px; height:195px; position:absolute; right:10px; bottom:7px;}
.fix_author{width:100%; height:350px; margin-top:20px; font:normal 24px/24px Times New Roman, sans-serif; text-align:center; position:relative;}
.fix_author img{height:350px;}
.fix_author .mask{width:100%; height:353px; background:url(../images/author.png) no-repeat; position:absolute; left:0x; bottom:0px; z-index:999;}
.fix_book{width:100%; height:380px; background:url(../images/book.png) no-repeat right; font:normal 24px/24px Times New Roman, sans-serif; text-align:center; padding:50px 0px; margin-top:40px;}
.fix_book img{width:170px; height:270px;}

/*====== FEATURED ======*/
#featured{background:#e8e8e8; padding:10px 0px; color:#666; overflow:hidden;}
.photo{width:1080px; margin:20px auto;}
.photo .spBox {overflow:hidden; position:relative;}
.photo .sp-left{width:30px; height:113px; float:left; cursor:pointer;position:absolute; top:35px; left:5px; z-index:100;}
.photo .sp-right{width:30px; height:113px; float:right; cursor:pointer;position:absolute; top:35px; right:5px; z-index:100;}
.photo .sp-cont{width:1020px; margin:0px auto; }
.photo .imgbox {width:169px; height:159px; float:left; border-right:1px #ccc solid;}
.photo .imgbox img {width:149px; margin:10px;}

/*====== FOOTER ======*/
#footer{background:#57bfea;}
.footer{width:1080px; margin:0px auto; color:#FFF; background:url(../images/logo02.png) no-repeat 0px 25px; padding:80px 0px 30px 0px; text-align:right;}
.footer p{ border-top:1px #fff solid; padding-top:10px;}
.iware{color:#ccc;}
.iware a{color:#ccc; font-size:10px;}

.green{color:#57bfea;}